#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select parameters.bson
param import

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281
param set CBRK_IO_SAFETY 22027

param set-default BAT1_V_DIV 5.7

# broadcast to LAN
# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 1

param set CA_AIRFRAME 1
param set SYS_AUTOSTART 2100

param set SYS_HAS_BARO 1
param set SYS_HAS_GPS 1
param set SYS_HAS_MAG 1

param set RC_CRSF_TEL_EN 1

param set COM_FLTMODE1 0 # manual
param set COM_FLTMODE2 1 # altitude
param set COM_FLTMODE3 3 # mission
param set COM_FLTMODE4 5 # return
param set COM_FLTMODE5 -1
param set COM_FLTMODE6 2

param set COM_DISARM_PRFLT 30
param set COM_PREARM_MODE 2
param set COM_ARM_MIS_REQ 0

param set COM_FLT_PROFILE 0 
param set COM_POS_FS_EPH 10
param set COM_ARM_MAG_STR 2  
param set COM_RC_IN_MODE 0

param set RC_MAP_ARM_SW  10

param set GPS_SAT_INFO 1


param set EKF2_REQ_EPH 10
param set EKF2_REQ_SACC 1
param set EKF2_HGT_REF 0
param set EKF2_REQ_SACC 5.0 # Required speed accuracy to use GPS
param set EKF2_REQ_VDRIFT 1.5 # Maximum vertical drift speed to use GPS
param set EKF2_REQ_HDRIFT 1.0 # Maximum horizontal drift speed to use GPS
param set EKF2_REQ_NSATS 4 # Required satellite count to use GPS
param set HTE_VZ_THR 5

param set SDLOG_MODE 0

param set FW_MAN_P_SC 1
param set MAN_ARM_GESTURE 1

param set RC_MAP_PITCH 2

dataman start

load_mon start

battery_status start

# ADC
#ads1115 start -I

# External IMU
# INFO  [SPI_I2C] Running on I2C Bus 1, Address 0x68
mpu9250_i2c start -I

# compass
qmc5883l start -I

# Barometer
bmp280 start -I

# Battery monitor
ina226 start -I

# PWM
# [pca9685_pwm_out] running on I2C bus 1 address 0x40
pca9685_pwm_out start -r 50
control_allocator start

# external GPS & compass
gps start -d /dev/ttyAMA0


# proximity sensor
#vl53l0x start -I

crsf_rc start -d /dev/ttyRC
#rc_input start -d /dev/ttyAMA0

rc_update start
sensors start
commander start
navigator start
ekf2 start
airspeed_selector start
land_detector start fixedwing
flight_mode_manager start
fw_att_control start
fw_pos_control start
fw_rate_control start
manual_control start
airship_att_control start


# Telem
mavlink start -x -u 14556 -r 1000000 -p #UDP
mavlink start -x -Z -d /dev/ttyTele -b 4800 -r 500 #ELRS/AirPort

logger start -t -b 200

mavlink boot_complete
